<div class = 'row'>
    <div class = 'span8 well'>

      <%= render p.categories %>
      
      <h4><%= link_to p.title, fix_url(p.url) %></h4>
      <p><%= p.description %></p>
      
       <p>
        <span class = 'quiet'>posted by </span> <%= p.user.username %>
        <small> at <%= format_time(p.created_at) %></small>
      </p>

      <small>
        <span>
          <%= link_to("#{p.comments.size} comments", post_path(p)) %>
        </span>
      </small>
    </div>
  </div>