<div class = 'row'>
  <div class = 'span0 well text-center'>
    <%= link_to vote_post_path(p, vote: true), method: 'post' do %>
      <i class = 'icon-arrow-up'></i>
    <% end %>
  </br>
    <%= p.total_votes %> votes
  </br>
    <%= link_to vote_post_path(p, vote: false),method: 'post' do %>
      <i class = 'icon-arrow-down'></i>
    <% end %>
  </div> 

  <div class = 'span8 well'>
    <%= render p.categories %>
    <h4><%= link_to p.title, fix_url(p.url) %></h4>
    <p><%= p.description %></p>
    <p>
      <span class = 'quiet'>posted by </span> <%= link_to p.user.username, user_path(p.user) %>
      <small> at <%= format_time(p.created_at) %></small>
    </p>

    <small>
      <span>
        <%= link_to("#{p.comments.size} comments", post_path(p)) %>
      </span>
    </small>
  </div>
</div>